.main_background,
.join_background {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
}

.main_background {
  background-image: url("../assets/images/background.jpg");
  height: 80vh;
}

.join_background {
  background-image: url("../assets/images/join-bg.png");
  height: 110vh;
}
