.navigation_menu_list li,
.navigation_menu_list a,
.split_screen p,
.split_screen_noflex p,
.split_screen_nopadding p,
.split_screen a,
.split_screen_text a,
.split_screen_text_uniq a {
  display: inline-block;
  color: #000;
  font-family: Roboto;
  font-style: normal;
  font-size: 1em;
  line-height: 100%;
  font-weight: 400;
  letter-spacing: 0%;
  text-decoration: none;
}

.split_screen_nopadding p {
  font-size: 0.6em;
}

.split_screen a,
.split_screen_noflex a {
  color: #8a53ff;
}

.split_screen,
.split_screen_nopadding,
.split_screen_header,
.split_screen_header_smaller,
.split_screen_noflex,
.split_screen_second,
.split_screen_right,
.split_screen_text,
.split_screen_noflex_custom {
  padding-left: 8vw;
  display: flex;
  text-align: left;
  margin: 0;
}

.split_screen {
  padding-top: 2vh;
  justify-content: flex-start;
  font-size: 1.5em;
}
.split_screen_nopadding {
  padding-left: 0vw;
  padding-top: 2vh;
  justify-content: center;
  font-size: 1.5em;
  gap: 1vw;
}
.split_screen_header {
  padding-top: 18vh;
  justify-content: left;
  font-size: 4em;
  font-family: Changa One;
}
.split_screen_header_smaller {
  padding-top: 2vh;
  text-align: inherit;
  justify-content: inherit;
  font-size: 1.5em;
  font-family: Changa One;
}
.split_screen_button {
  background-color: #8a53ff;
  font-size: 0.8em;
  color: #ffff;
  border-radius: 0.15em;
  padding: 1em 1em;
  margin: 0;
  outline: none;
}
.split_screen_button_alternative {
  background-color: #8a53ff;
  font-size: 0.8em;
  color: #ffff;
  border-radius: 0.15em;
  padding: 0.5em 1em;
  margin: 0;
  outline: none;
}
.screen_center {
  display: flex;
  text-align: center;
  font-size: 1.5em;
  margin: 0;
  justify-content: center;
  gap: 1vw;
}
.screen_center_colored {
  display: inline-block;
  color: #8a53ff;
  font-family: Roboto;
  font-size: 1em;
  line-height: 100%;
  font-weight: 400;
  letter-spacing: 0%;
  text-decoration: none;
}

.screen_center_header_smaller,
.split_screen_noflex h1,
.screen_center_head {
  display: flex;
  text-align: inherit;
  justify-content: inherit;
  font-size: 2em;
  margin: 0;
  font-family: Changa One;
}

.screen_center_head {
  text-align: center;
  justify-content: center;
  padding-bottom: 2vh;
}

.split_screen_header_smaller_nopadding {
  display: inherit;
  text-align: inherit;
  justify-content: inherit;
  font-size: 1.2em;
  margin: 0;
  font-family: Changa One;
}

.split_screen_noflex {
  padding-left: 0vw;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1em;
  gap: 1vw;
  border-radius: 0.15em;
}
.split_screen_noflex_custom {
  padding-left: 8vw;
  flex-direction: row;
  align-items: left;
  font-size: 1em;
  gap: 1vw;
  border-radius: 0.15em;
}
.split_screen_noflex picture,
.split_screen_second picture {
  object-fit: cover;
  display: flex;
  width: 35vw;
  height: 55vh;
  border-radius: 0.15em;
}
.split_screen_smaller {
  object-fit: cover;
  display: flex;
  width: 20vw;
  height: 40vh;
  border-radius: 0.15em;
}
.split_screen_noflex_small {
  padding-top: 4vh;
  padding-left: 4vw;
  display: flex;
  align-items: center;
  font-size: 1em;
  margin: 0;
}

.split_screen_noflex_small picture,
.split_screen_nopadding picture {
  object-fit: cover;
  display: block;
  margin: 0;
  width: 40vw;
  height: 40vh;
}

.split_screen_noflex_small img,
.split_screen_nopadding img {
  width: 20%;
  height: 20%;
  object-fit: contain;
  display: block;
}

.split_screen_second {
  padding-top: 2vh;
  justify-content: left;
  font-size: 1.5em;
  gap: 1vw;
}

.split_screen_right {
  flex-direction: row;
  justify-content: right;
  height: 10vh;
  width: 40vw;
  gap: 1vw;
}
.split_screen_right img {
  height: 8vh;
  border-radius: 2em;
}
.picture_column img {
  height: 27vh;
  width: 20vw;
}
.split_screen video {
  padding-left: 8vw;
  justify-content: center;
  width: 70vw;
  height: 70vh;
  object-fit: cover;
}

.split_screen_text {
  padding-right: 8vw;
  flex-direction: column;
}
.split_screen_text_uniq {
  padding-right: 8vw;
  margin-left: -4vw;
  width: 28vw;
  height: 100%;
  flex-direction: column;
}
.split_screen_text_uniq h1 {
  font-size: 3.5em;
}

.split_screen_text a,
.split_screen_text_uniq a {
  padding-right: 2vw;
  color: #000;
  font-size: 1.2em;
}
.split_screen_text h3{
  color: #000;
  font-size: 1.5em;
  font-family: Roboto;
  font-style: normal;
}
@media (max-width: 480px) {
  .navigation_menu_list li,
  .navigation_menu_list a,
  .split_screen p,
  .split_screen_noflex p,
  .split_screen_nopadding p,
  .split_screen a,
  .split_screen_text a {
    font-size: 0.8em;
  }

  .split_screen_header {
    font-size: 1.5em;
    padding-top: 5vh;
  }

  .split_screen,
  .split_screen_nopadding,
  .split_screen_noflex,
  .split_screen_second,
  .split_screen_right,
  .split_screen_text,
  .split_screen_text_uniq {
    padding-left: 0;
    padding-right: 0;
    font-size: 1em;
    flex-direction: column;
    gap: 1vh;
  }

  .split_screen_noflex picture{
    width: 100vw;
    height: auto;
  }

  .picture_column {
    width: 100%;
    height: auto;
    padding-left: 0;
  }
}

.split_screen picture,
.split_screen_second picture {
  max-width: 50%;
  max-height: 100vh;
  display: block;
  overflow: hidden;
}

.split_screen_second picture {
  max-width: 70%;
}

.split_screen picture img .split_screen_second img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 0.15em;
}

.picture_column {
  flex-direction: column;
  padding-top: 2vh;
  width: 25vw;
  height: 35vh;
  display: flex;
  align-items: flex-start;
  font-size: 1em;
  margin: 0;
  gap: 0.5vw;
}


