header {
  display: flex;
  align-items: center center;
  justify-content: space-between;
  padding-top: 1vh;
  padding-right: 8vw;
  padding-left: 8vw;
  padding-bottom: 1vh;
}
body {
  font: 100% Roboto;
  margin: 0;
}
.header_logo {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  height: 8vh;
}
.navigation_menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  gap: 5vh;
}
.navigation_menu_list {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: inherit;
}
.navigation_menu_icons {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 1vh;
}
.main_background {
  background-image: url("../assets/images/background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 80vh;
}
.navigation_menu_list li,
.navigation_menu_list a,
.split_screen p,
.split_screen_noflex p {
  display: inline-block;
  color: #000;
  font-family: Roboto;
  font-style: normal;
  font-size: 1em;
  font-display: swap;
  line-height: 100%;
  font-weight: 400;
  letter-spacing: 0%;
  text-decoration: none;
  justify-content: space-between;
}
.split_screen a {
  display: inline-block;
  color: #8a53ff;
  font-family: Roboto;
  font-style: bold;
  font-size: 1em;
  font-display: swap;
  line-height: 100%;
  font-weight: 400;
  letter-spacing: 0%;
  text-decoration: none;
  justify-content: space-between;
}
.split_screen {
  padding-left: 8vw;
  padding-top: 2vh;
  display: flex;
  text-align: left;
  justify-content: left;
  font-size: 1.5em;
  margin: 0;
  gap: 1vw;
}
.split_screen_nopadding {
  padding-top: 2vh;
  display: flex;
  text-align: left;
  justify-content: center;
  font-size: 1.5em;
  margin: 0;
  gap: 1vw;
}
.split_screen_header {
  padding-left: 8vw;
  padding-top: 18vh;
  display: inherit;
  text-align: inherit;
  justify-content: inherit;
  font-size: 4em;
  margin: 0;
  font-family: Changa One;
}
.split_screen_header_smaller {
  padding-left: 8vw;
  padding-top: 2vh;
  display: inherit;
  text-align: inherit;
  justify-content: inherit;
  font-size: 2em;
  margin: 0;
  font-family: Changa One;
}
.split_screen_button {
  background-color: #8a53ff;
  font-size: 0.8em;
  color: #ffff;
  border-radius: 0.15em;
  padding: 0.5em 1em;
  margin: 0;
  outline: none;
}
.middle_style {
  display: flex;
  text-align: center;
  font-size: 1.5em;
  margin: 0;
  justify-content: center;
  gap: 1vw;
}
.middle_style_colored {
  display: inline-block;
  color: #8a53ff;
  font-family: Roboto;
  font-style: bold;
  font-size: 1em;
  font-display: swap;
  line-height: 100%;
  font-weight: 400;
  letter-spacing: 0%;
  text-decoration: none;
  justify-content: space-between;
}

.middle_style_header_smaller,
.split_screen_noflex h1 {
  padding-top: 2vh;
  display: inherit;
  text-align: inherit;
  justify-content: inherit;
  font-size: 2em;
  margin: 0;
  font-family: Changa One;
}

.middle_style_head {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 2em;
  margin: 0;
  padding-bottom: 2vh;
  font-family: Changa One;
}

.middle_grid {
  padding-left: 8vw;
  padding-right: 8vw;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2vw;
}

.item {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0;
  width: 20vw;
  height: 70vh;
  overflow: hidden;
}
.middle_grid img {
  object-fit: cover;
  display: flex;
  width: 20vw;
  height: 60vh;
  overflow: hidden;
  border-radius: 0.15em;
}

.split_screen_header_smaller_nopadding {
  display: inherit;
  text-align: inherit;
  justify-content: inherit;
  font-size: 1.2em;
  margin: 0;
  font-family: Changa One;
}
.split_screen_noflex {
  display: flex;
  text-align: left;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1em;
  margin: 0;
  gap: 1vw;
  border-radius: 0.15em;
}

.form_element {
  padding-left: 0.5vw;
  width: 80%;
  padding-top: 1vh;
  padding-bottom: 1vh;
  text-align: left center;
  justify-content: center;
  font-size: 1em;
  margin: 0 auto;
  border-radius: 0.15em;
  display: block;
  box-sizing: border-box;
}

.join_background {
  background-image: url("../assets/images/join-bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 110vh;
}

.split_screen_noflex picture, .split_screen_second picture {
  object-fit: cover;
  display: flex;
  width: 35vw;
  height: 55vh;
  border-radius: 0.15em;
}
.split_screen_smaller  {
  object-fit: cover;
  display: flex;
  width: 20vw;
  height: 40vh;
  border-radius: 0.15em;
}
.split_screen_noflex_small {
  padding-top: 4vh;
  padding-left: 4vw;
  display: flex;
  align-items: center;
  font-size: 1em;
  margin: 0;
}
.split_screen_noflex_small picture, .split_screen_nopadding picture  {   
  object-fit: cover;
  display: block;
  margin: 0;
  width: 40vw;
  height: 40vh;
}

.split_screen_noflex_small img, .split_screen_nopadding img {
  width: 20%;
  height: 20%;
  object-fit: contain;
  display: block;
}

.split_screen_image {
  display: flex;
  text-align: left;
  justify-content: left;
  font-size: 1.5em;
  margin: 0;
  gap: 1vw;
  object-fit: cover;
  display: flex;
  width: 20vw;
  height: 40vh;
  border-radius: 0.15em;
}

.split_screen_second {
  padding-left: 8vw;
  padding-top: 2vh;
  display: flex;
  text-align: left;
  justify-content: left;
  font-size: 1.5em;
  margin: 0;
  gap: 1vw;
}

.split_screen_nopadding p {
  display: inline-block;
  color: #000;
  font-family: Roboto;
  font-style: normal;
  font-size: 0.6em;
  font-display: swap;
  line-height: 100%;
  font-weight: 400;
  letter-spacing: 0%;
  text-decoration: none;
  justify-content: space-between;
}
