header {
    display: flex;
    align-items: center center;
    justify-content: space-between;
    padding-top: 1vh;
    padding-right: 8vw;
    padding-left: 8vw;
    padding-bottom: 1vh;
}
body {
    font: 100% Changa One, Roboto;
}
.header_logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
}
.navigation_menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    gap: 5vh;
}
.navigation_menu_list{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: inherit;    
}
.navigation_menu_icons{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 1vh;    
}
.main_background{
    background-image: url("../assets/images/background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 80vh;
}
.navigation_menu_list li, .navigation_menu_list a{
    display: inline-block;
    color: #000;
    font-family: Roboto;
    font-style: normal;
    font-size: 16px;  
    font-display: swap;
    line-height: 100%;
    font-weight: 400;
    letter-spacing: 0%;
    text-decoration: none;
    justify-content: space-between;      
}
.left_side{
    padding-left: 10vw;    
    display: flex;
    text-align: left;
    justify-content: space-between;
    font-size: 22px;  
}
.left_side_header{
    padding-left: 10vw;
    padding-top: 12vh;
    display: inherit;
    text-align: inherit;
    justify-content: inherit;
    font-size: 40px;
    margin: 0;
}

